* {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}
body {
 background-color: black;
 color: white;
 text-align: center;
}
input {
 margin: 5px;
 padding: 3px;
}
.text-title {
 font-size: larger;
 margin: 8px 0;
}
.text-subtitle {
 font-size: large;
 margin: 8px 0;
}
.text-paragraph {
 font-size: medium;
 margin: 2px 0;
 letter-spacing: 1.5px;
}
.text-source {
 font-size: small;
 color: grey;
 margin: 8px 0;
}