<!DOCTYPE html>
<html lang="en">
<head>
 <meta charset="UTF-8">
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
 <title>Formulário</title>
 <link rel="stylesheet" href="./../assets/styles/style.css">
</head>
<body>
 <header>
  <p class="text-title">reCaptcha</p>
  <p class="text-subtitle">Realize o teste para confirmar sua humanidade.<br>Digite um valor maior no "campoB" ao que o "campoA".</p>
 </header>
 <main>
  <form id="form">
   <input type="number" placeholder="CampoA" min="1" id="valorA"><br>
   <input type="number" placeholder="CampoB" min="1" id="valorB"><br>
   <input type="submit" id="submit">
  </form>
 </main>
 <script src="./../javascript/main.js"></script>
</body>
</html>