@use 'variables';

body {
 background-color: variables.$primaryColor;
 color: variables.$secondaryColor;
 text-align: center;
}
.carousel-item {
 img {
  width: auto;
  height: 90vh;
  margin: 0 auto;
 }
}